<div class="beerlist">
    <img class="beerImage" src="{{this.image_url}}" />
    <h1 class="name">{{this.name}}</h1>
    <h2 class="tagline">{{this.tagline}}</h2>
    <p class="description">{{this.description}}</p>
</div>