<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>

    <nav>
        <a class="navItem" href="/">Home</a>
        <a class="navItem" href="/beers">Beers</a>
        <a class="navItem" href="/random-beer">Random Beer</a>
    </nav>

    <main>
        {{{ body }}}
    </main>
    <footer>
        <p class="footerItem">Developed by Ironhack ;)</p>
    </footer>

</body>

</html>